.game-in-process-screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.game-in-process-screen .header {
  background-color: #32213A;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.game-image-container {
  width: auto;
  padding: 8px;
  background-color: rgb(44, 44, 44);
}

.character-selection {
  display: none;
  width: 200px;
  height: 200px;
}
.character-selection button {
  flex: 1;
}

.character-selection.active {
  display: flex;
  flex-direction: column;
}

.game-in-process-screen {
  height: 100vh;
}
